.float-left{
    float:left;
}

.float-right{
    float: right;
}

.clear-left{
    clear:left;
}

.clear-right{
    clear: right;
}

.dashdash {

    width: 100%;
    background-color:grey;
    height: 1em;
}
.img-right {
    position: relative;
    right: -95%;
    border: none;
    width: 70px;
    vertical-align: super;
}

.bigimage {
    width: 100%;
}

body {
    margin: 1em 15em;
    width: 793.75px;
}

.text-indent {
    text-indent: 2em;
}

h1 {
    position: relative;
    font-family: 'Stalemate', cursive;
    top: -21px;
    margin-left: .2em;
    font-style: italic;
}

h4.first {
    position: relative;
    left: -50px;
    bottom: -23px;

}

h4 {
    text-transform: uppercase;
    font-family: 'Share Tech Mono', monospace;
    font-weight: normal;
    color: grey;
    font-size: .5em;
}

aside {
    background-image: url("assets/list-bg.png");
    height: 20em;
    background-repeat: no-repeat;
    
}

label {
    font-size: 1.5em;
    font-family: sans-serif;
   
}
form {
    display: flex;
    justify-content: space-around;

}
.footer {
    margin: 0 auto;
    width: 35%; 
    text-align: center;
}

.section-header {
    height: 4em;
}

footer p {
    color: grey; 
    margin: 0; 
}

h2 {
    font-family: 'Oswald', sans-serif;
}

